.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store


inst/tutorials/*/*_files
inst/tutorials/*/*.html
inst/tutorials/autograder/*.json
inst/tutorials/autograder/*.zip
inst/tutorials/autograder/*.pdf

# deployment output
rsconnect/

data-raw/localnews_replication